<ion-header>
  <ion-navbar>
    <ion-title>
      {{'stats' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p *ngIf="lineChartData.length === 0 || lineChartData[0].data.length === 0">{{'noResults' | translate}}</p>
  <ion-card *ngIf="lineChartData.length > 0 && lineChartData[0].data.length > 0">
    <ion-card-content>
      <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
