<ion-header>
  <ion-navbar>
    <ion-title>{{ 'quiz' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p *ngIf="questions.length === 0">{{ 'welcome' | translate }}</p>
  <ion-card *ngFor="let q of questions">
    <ion-card-content>
      <div [innerHTML]="q.text"></div>
      <ion-list>
        <ion-item>
          <ion-label stacked>{{'answer' | translate}} </ion-label>
          <ion-input [disabled]="sent" type="text" [(ngModel)]="q.userAnswer" required placeholder="{{'enterAnswer' | translate}}"></ion-input>
        </ion-item>
        <ion-item *ngIf="q.result === 0">
          <h4>{{'correctAnswer' | translate}}</h4>
          <p><strong>{{ q.answer }}</strong></p>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col text-right>
        <ion-icon *ngIf="q.result === 1" name="checkmark-circle" color="primary"></ion-icon>
        <ion-icon *ngIf="q.result === 0" name="alert" color="danger"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <button ion-button *ngIf="!sent && questions.length > 0" (click)="sendResponse()">{{ 'send' | translate }}</button> 
  <button ion-button (click)="goToNext()">{{ 'start' | translate }}</button>
  <p *ngIf="questions.length !== 0">
  <a href="https://fr.wiktionary.org" target="_blank">Source Wiktionnaire</a>. Content is available under license
  <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.
  </p>
</ion-content>
